# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Database (Prisma)
DATABASE_URL=
DIRECT_URL=

# OpenAI
OPENAI_API_KEY=

# Naver Commerce
NAVER_LOGIN_ID=
NAVER_LOGIN_PASSWORD=
